<div class="row">
    <div class="col-xs-12">
        <div class="item-card clearfix">
            <p class="item-title">{{selectedItem.name}}</p>
            <img class="img-rounded pull-right" src="{{imgUrl}}" alt="{{selectedItem.name}}">
            <div class="itemStats">
                <p>{{selectedItem.description}}</p>
                <p>{{selectedItem.type}}</p>
                <p>{{selectedItem.value}}🪙</p>
            </div>
            <div class="btnset">
                <button type="button" (click)="onUse()" class="btn {{selectedItem.type == 'consumeable' ? 'btn-info' : 'btn-success'}}" *ngIf="selectedItem.type !== 'material'">{{selectedItem.type == 'consumeable' ? "Use" : "Equip"}}</button>
                <button type="button" (click)="onSell()" class="btn btn-danger">Sell</button>
            </div>
        </div>
    </div>
</div>
