<div class="container-fluid well">
    <div class="row">
        <div class="col-md-3">
            <img src="../../../assets/images/treasure-icon.png" alt="" class="img-rounded outcome-icon">
            <h3>{{quest.name}}</h3>
        </div>
        <div class="col-md-4">
            <p>You go {{direction}} on the path through the {{location}}, and...</p>
            <p>{{quest.description}}</p>

            <button class="btn btn-success" type="button" *ngIf="!continue" (click)="onQuest()">{{btnText}}</button>
            <button class="btn btn-danger" type="button" *ngIf="!continue" (click)="onEscape()">Escape</button>
            
            <app-result-handler 
            *ngIf="continue"
            [quest]="quest"
            [player]="player"
            ></app-result-handler>
        </div>
    </div>
</div>
